footer{
	max-width: 56rem;
	height: 7rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer-view{
	span{
		margin-right: 1rem;
	}
}